.App-header {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 1rem;
  background-color: blue;
}

.App-header-title {
  padding-right: 2rem;
  margin: 0.5rem 0;
}

.App-header-description {
  font-style: italic;
}


.App-header-Search {
  width: 100%;
}

.App-header-Search-form {
  display: inline-flex;
  width: 100%;
}

.App-header-Search-input {
  width: 250px;
}

.App-header-Search-button {
  flex-basis: content;
}

@media only screen and (max-width: 414px) {
  .App-header-Search-input {
    flex-grow: 1;
  }
}


.App-content {
  display: inline-flex;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .App-content {
    display: block;
  }
}


.App-Map {
  background-color: gray;
  display: inline-block;
  flex-grow: 1;
  height: 400px;
}

@media only screen and (max-width: 768px) {
  .App-Map {
    display: block;
    height: 300px;
    width: 100%;
    margin-bottom: 1rem;
  }
}


.App-Restaurants {
  width: 250px;
  margin-left: 1rem;
}

.App-Restaurant {
  background-color: red;
  width: 100%;
}

.App-Restaurant-info {
  display: block;
}

@media only screen and (max-width: 768px) {
  .App-Restaurants {
    width: 100%;
    margin-left: 0;
  }
}
